@model IEnumerable<CategoryModel>

@{
    ViewData["Title"] = "Browse collection";
}

<h3>
    Manage your collections
</h3>
<div>
    <a class="btn btn-primary" href="AddCategory">Add category</a>
</div>
<br />
<br />

@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <b>
                @item.Name
            </b>
        </div>
        <div class="panel-body">
            <p>@item.Description</p>
            @Html.ActionLink("Play", "Play", new { categoryhash = item.Hash }, htmlAttributes: new { @class = "btn btn-success" })
            @Html.ActionLink("Explore", "Explore", new { categoryhash = item.Hash }, htmlAttributes: new { @class = "btn btn-warning" })
        </div>
    </div>

}
